body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1;
   
  }

#city{
    width:100%;

}

  .jumbotron {
    text-align: center;
    font-weight: bold;
    background-color: rgb(56, 54, 54);
    color:white;
    border-radius: 0;
    border-bottom: 10px solid black;
    border-top: 10px solid black;
  }

  .col-sm-12{
      background-color: darkseagreen;
  }

  .weather-future{
      background-color: dodgerblue;
  }